<!DOCTYPE html>
<html>
    <body>
        <b>Form Input Buku</b><br>
        <form method="POST">
            <table>
                <tr>
                    <td>Judul Buku</td>
                    <td><input type="text", name="text", size=25></td>
                </tr>
                <tr>
                    <td>Pengarang Buku</td>
                    <td><input type="text", name="text", size=25></td>
                </tr>
                <tr>
                    <td>Penerbit Buku</td>
                    <td><input type="text", name="text", size=25></td>
                </tr>
                <tr>
                    <td>Jenis Buku</td>
                    <td><input type="text", name="text", size=25></td>
                </tr>
                <tr>
                    <td>Ketebalan Buku</td>
                    <td><input type="text", name="text", size=25></td>
                </tr>
            </table>
            <input type="submit" value="Simpan">
        </form>
    </body>
</html>