


<!DOCTYPE html>
<html>
    <head>
        <title>Data Buku</title>
    </head>
    <body>
            <table border=1 cellspasing=0 cellpadding=10>
                <caption><h1>Daftar Koleksi Buku</h1></caption>
                <tr>
                    <th>Judul Buku</th>
                    <th>Pengarang Buku</th>
                    <th>Penerbit Buku</th>
                    <th>Jenis Buku</th>
                    <th>Ketebalan Buku</th>
                </tr>
            </table>
            <input type="submit" value="Simpan">
    </body>
</html>